<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>contact</title>
</head>
 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
<script src="https://kit.fontawesome.com/f8ca3d18f3.js" crossorigin="anonymous"></script>
<body>
{% include "navbar.html" %}
<section>
 <div class="container">

    <section class="row">
        <div class="col-md-6">
            <form action="/contact" method="POST">

                <h2>CONTACT US</h2>
                {% with messages = get_flashed_messages() %}
                      {% if messages %}
                        <ul class=flashes>
                        {% for message in messages %}
                          <li class="text-success">{{ message }}</li>
                        {% endfor %}
                        </ul>
                      {% endif %}
                    {% endwith %}
                    {% block body %}{% endblock %}

                <input type="text" name="name" placeholder="NAME">
                <input type="email"  name="email" placeholder="EMAIL">
                <textarea name="message" id="" cols="50" rows="4" class="form-control"></textarea><br>
                <input type="submit" value="Send Message" class="btn btn-success">
            </form>
        </div>
    </section>
 </div>
</section>
{% include "footer.html" %}
 <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>

</body>
</html>