<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>footer</title>
</head>
<body>
<br>
 <div class="container">
        <section class="row">
            <div class="col-md-4">
                <h4 class="text-warning">SHOE LTD</h4>
                <P>we are the best-selling shoe company in kenya.
                our company focus more on the quality of the shoe.
                    <br>
                    <b>Email</b> <a href="info.shoecompay.co.ke">info.shoecompay.co.ke</a>
                    <br>
                    <b>TEL</b> <I>+25470234567</I>
                    <br>
                    <a href="">
                       <i class='fab fa-twitter' style='font-size:48px;color:blue'></i>
                    </a>
                     <a href="">
                       <i class='fab fa-facebook' style='font-size:48px;color:blue'></i>
                    </a>
                     <a href="">
                       <i class='fab fa-youtube' style='font-size:48px;color:red'></i>
                    </a>
                    <a href="">
                       <i class='fab fa-google-play' style='font-size:48px;color:green'></i>
                    </a>
                </P>

            </div>
            <div class="col-md-4">
                <i style='font-size:24px' class='fas'>&#xf0d1;</i>
                <b class="text-warning">Delivery Everywhere</b>
                <p> call our delivery team  in case of anything</p>
                <i style='font-size:24px' class='fas'>&#xf879;</i> <br>
                <b>+25471234567</b> <br>
                <b>+25473456771</b> <br>
                <p>we deliver all goods within 24hrs.
               enjoy fast and safe delivery </p>
            </div>
            <br><br>
            <div class="col-md-4">
                <i class='fas fa-comment' style='font-size:36px;color:green'></i>
                <b class="text-warning">Subscribe Newsletter</b>
                <p class="text-muted">Subscribe to our newsletter to receive special offers and latest news</p>
                <input type="email" placeholder="YOUR EMAIL">
                <input type="submit" class="btn btn-warning" value="SEND"><br>
                <i class='fab fa-cc-mastercard' style='font-size:48px; color:red'></i>
                <i class='fab fa-cc-visa' style='font-size:48px; color:blue'></i>
                <i class='fab fa-cc-paypal' style='font-size:48px;color:blue'></i>
            </div>
        </section>

 </div>
<br>

 <footer class="row" style="background:blue;color:white;text-align:center; padding:1%;">
    <div class="col-md-12">
        <b>copywrite &copy; 2021 - all rights reserved copywriter </b>
        <i>Customer care: 254721345672</i>
 </footer>

</body>
</html>