<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>home</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
<script src="https://kit.fontawesome.com/f8ca3d18f3.js" crossorigin="anonymous"></script>

</head>
<body>
<!--colors: primary, dark, danger, success-mostly green -->
<!--secondary colors: -->
<!-nice--->
<!--code-->
<!--carousel here-->
<!--nav bar here-->
{% include "navbar.html" %}
<div class="container-fluid">
    <h1>ABOUT US</h1>
  <section class="row">
        <div class="col-md-3">
            <img src="../static/img_4.png" alt="" class="img-fluid" width="130%">
        </div>

        <div class="col-md-9">
            <h2 class="bg-warning text-white">MISSION</h2>

            <p class="text-muted">To be the number one brand in the footwear market, exceeding our
                client expectations through identification and satisfaction of
                customer needs by providing stylish and high quality products in
                a wide range..

                City walk started operations in 1991 with only one branch at The Mall
                in Westlands Nairobi. Driven by the motivation to expand, Village
                Market branch was born in 1994
            <h4>OUR CLIENT</h4>
            To be the number one brand in the footwear market, exceeding our
            client
            expectations through identification and satisfaction of customer
            needs by
            providing stylish and high quality products in a wide range..
            <br>
            <a href="" class="btn btn-warning">READ MORE</a>

        </div>
  </section>
   </div>


<br>
        <div class="container-fluid">
            <h4 class="bg-primary text-white">WHAT WE DO</h4>
            <section class="row">
                <div class="col-md-4">
                    <h5>SPORTS</h5>
                    <img src="../static/img_5.png" alt="" class="img-fluid">
                    <p class="text-muted"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur eligendi et fugiat vero! Ab cum eaque error esse, labore magni mollitia nemo nobis quae quod quos, ullam veniam, vitae voluptatem. </p>
                    <a href="" class="btn btn-warning">READ MORE</a>
                </div>

                <div class="col-md-4">
                    <h5>BOOTS</h5>
                    <img src="../static/img_8.png" alt="" class="img-fluid">
                    <p class="text-muted"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur eligendi et fugiat vero! Ab cum eaque error esse, labore magni mollitia nemo nobis quae quod quos, ullam veniam, vitae voluptatem. </p>
                    <a href="" class="btn btn-warning">READ MORE</a>
                </div>

                <div class="col-md-4">
                    <h5>SANDLES</h5>
                    <img src="../static/img_7.png" alt="" class="img-fluid">
                    <p class="text-muted"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur eligendi et fugiat vero! Ab cum eaque error esse, labore magni mollitia nemo nobis quae quod quos, ullam veniam, vitae voluptatem. </p>
                    <a href="" class="btn btn-warning">READ MORE</a>
                </div>
            </section>
            <br>

            <!--  section-->
           <div class="container-fluid">
            <h4 class="bg-primary text-white">TREADING SHOES TODAY</h4>
            <section class="row">
                <div class="col-md-4">
                    <h5>KIDS SHOES</h5>
                    <img src="../static/img_17.png" alt="" class="img-fluid">
                    <p class="text-muted"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur eligendi et fugiat vero! Ab cum eaque error esse, labore magni mollitia nemo nobis quae quod quos, ullam veniam, vitae voluptatem. </p>
                    <a href="" class="btn btn-warning">READ MORE</a>
                </div>

                <div class="col-md-4">
                    <h5>MEN SHOES</h5>
                    <img src="../static/img_18.png" alt="" class="img-fluid">
                    <p class="text-muted"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur eligendi et fugiat vero! Ab cum eaque error esse, labore magni mollitia nemo nobis quae quod quos, ullam veniam, vitae voluptatem. </p>
                    <a href="" class="btn btn-warning">READ MORE</a>
                </div>

                <div class="col-md-4">
                    <h5>LADIES SHOES</h5>
                    <img src="../static/img_7.png" alt="" class="img-fluid">
                    <p class="text-muted"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur eligendi et fugiat vero! Ab cum eaque error esse, labore magni mollitia nemo nobis quae quod quos, ullam veniam, vitae voluptatem. </p>
                    <a href="" class="btn btn-warning">READ MORE</a>
                </div>
            </section>
            <br>


               <!--section.........................................................-->

          <div class="container-fluid">
            <h4 class="bg-primary text-white">30% OFF DEAL</h4>
            <section class="row">
                <div class="col-md-4">
                    <h5>HIGH QUALITY SHOES</h5>
                    <img src="../static/img_19.png" alt="" class="img-fluid">
                    <p class="text-muted"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur eligendi et fugiat vero! Ab cum eaque error esse, labore magni mollitia nemo nobis quae quod quos, ullam veniam, vitae voluptatem. </p>
                    <a href="" class="btn btn-warning">READ MORE</a>
                </div>

                <div class="col-md-4">
                    <h5>SPORTS</h5>
                    <img src="../static/img_20.png" alt="" class="img-fluid">
                    <p class="text-muted"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur eligendi et fugiat vero! Ab cum eaque error esse, labore magni mollitia nemo nobis quae quod quos, ullam veniam, vitae voluptatem. </p>
                    <a href="" class="btn btn-warning">READ MORE</a>
                </div>

                <div class="col-md-4">
                    <h5>NIKE</h5>
                    <img src="../static/img_22.png" alt="" class="img-fluid">
                    <p class="text-muted"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur eligendi et fugiat vero! Ab cum eaque error esse, labore magni mollitia nemo nobis quae quod quos, ullam veniam, vitae voluptatem. </p>
                    <a href="" class="btn btn-warning">READ MORE</a>
                </div>
            </section>
            <br>

              <!--section............................................-->
            <div class="container-fluid">
            <h4 class="bg-primary text-white">TOP SELLING</h4>
            <section class="row">
                <div class="col-md-4">
                    <h5>SPORTS</h5>
                    <img src="../static/img_5.png" alt="" class="img-fluid">
                    <p class="text-muted"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur eligendi et fugiat vero! Ab cum eaque error esse, labore magni mollitia nemo nobis quae quod quos, ullam veniam, vitae voluptatem. </p>
                    <a href="" class="btn btn-warning">READ MORE</a>
                </div>

                <div class="col-md-4">
                    <h5>BOOTS</h5>
                    <img src="../static/img_8.png" alt="" class="img-fluid">
                    <p class="text-muted"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur eligendi et fugiat vero! Ab cum eaque error esse, labore magni mollitia nemo nobis quae quod quos, ullam veniam, vitae voluptatem. </p>
                    <a href="" class="btn btn-warning">READ MORE</a>
                </div>

                <div class="col-md-4">
                    <h5>MEN SPORTS</h5>
                    <img src="../static/img_23.png" alt="" class="img-fluid">
                    <p class="text-muted"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur eligendi et fugiat vero! Ab cum eaque error esse, labore magni mollitia nemo nobis quae quod quos, ullam veniam, vitae voluptatem. </p>
                    <a href="" class="btn btn-warning">READ MORE</a>
                </div>
            </section>
            <br>


                <!--section..............................................................-->
         <div class="container-fluid">
            <h4 class="bg-primary text-white">NUMBER ONE EXPORT </h4>
            <section class="row">
                <div class="col-md-4">
                    <h5>SPORTS</h5>
                    <img src="../static/img_24.png" alt="" class="img-fluid">
                    <p class="text-muted"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur eligendi et fugiat vero! Ab cum eaque error esse, labore magni mollitia nemo nobis quae quod quos, ullam veniam, vitae voluptatem. </p>
                    <a href="" class="btn btn-warning">READ MORE</a>
                </div>

                <div class="col-md-4">
                    <h5>BOOTS</h5>
                    <img src="../static/img_14.png" alt="" class="img-fluid">
                    <p class="text-muted"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur eligendi et fugiat vero! Ab cum eaque error esse, labore magni mollitia nemo nobis quae quod quos, ullam veniam, vitae voluptatem. </p>
                    <a href="" class="btn btn-warning">READ MORE</a>
                </div>

                <div class="col-md-4">
                    <h5>SANDLES</h5>
                    <img src="../static/img_25.png" alt="" class="img-fluid">
                    <p class="text-muted"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur eligendi et fugiat vero! Ab cum eaque error esse, labore magni mollitia nemo nobis quae quod quos, ullam veniam, vitae voluptatem. </p>
                    <a href="" class="btn btn-warning">READ MORE</a>
                </div>
            </section>
            <br>

                <!--section...............................................................-->


                    <!--section-->


{% include "footer.html" %}
                    <!--do more section
                     two more section-->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>

</body>
</html>